@model  IEnumerable< MoshaverDataLayer.Model.Advertise>

<div class="featured-blocks">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-xs-12 col-sm-4 featured-block">
                    <img src="/Content/images/advertise/@item.ImgPath" alt="Search Anywhere" class="img-thumbnail"style="width:165px;height:165px;">
                    <h3>@item.Name</h3>
                    <p>@item.Text</p>
                </div>
            }
          
     
        </div>
    </div>
</div>

