@model MoshaverDataLayer.Model.Setting
<div class="middle-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-8 col-xs-8">
                <h1 class="logo"> <a href="index.html"><img src="~/Content/images/Little/@Model.imageSrc"style="width:150px;height:30px;" alt="Logo"></a> </h1>
            </div>
            <div class="col-md-8 col-sm-4 col-xs-4">
                <div class="contact-info-blocks hidden-sm hidden-xs">
                    <div>
                        <i class="fa fa-phone"></i> تلفن تماس
                        <span class="ltr_text">@Model.TellPhone1</span>
                    </div>
                    <div>
                        <i class="fa fa-envelope"></i> آدرس ایمیل
                        <span>@Model.EmailStore1</span>
                    </div>
                    <div>
                        <i class="fa fa-clock-o"></i> ساعات کاری
                        <span>@Model.WorkTime</span>
                    </div>
                </div>
                <a href="#" class="visible-sm visible-xs menu-toggle"><i class="fa fa-bars"></i></a>
            </div>
        </div>
    </div>
</div>
