@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}



	
<div class="site-showcase">
    <!-- Start Page Header -->
    <div class="parallax page-header" style="background-image:url(/Content/images/page-header1.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>فراموشی رمزعبور</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Header -->
</div>

<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="page">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="alert alert-default fade in no-close" style="opacity:0">

                        </div>
                    </div>
                    <div class="alert alert-success">
                        <p>
                            برای تغییر کلمه عبور ایمیل خود را چک کنید.
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>